<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <style type="text/css">
     <%- include('main.css', {}); %>
    </style>
  </head>
  <body>
    <header role="navigation" class="header header__desktop fixed">
      <section class="header-wrap">
        <div class="logo-block">
          <img src="https://design.inrupt.com/atomic-core/img/solid.svg" />
        </div>
      </section>
    </header>
    <div class="main-content">
      <section class="main-content-section">
        <div class="wrapper">
          <h1>Sign In</h1>
          <div class="login-panel">
            <div class="panel-body">
              <form autocomplete="off" action="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/login" method="post">

                <div class="input-wrap">
                  <label>Username:</label>
                  <input required type="username" name="username" placeholder="tim" <% if (!details.params.login_hint) { %>autofocus="on"<% } else { %> value="<%= details.params.login_hint %>" <% } %>>
                </div>

                <div class="input-wrap">
                  <label>Password:</label>
                  <input required type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>
                </div>

                <label><input type="checkbox" name="remember" value="yes" checked="yes">Stay signed in</label>

                <button type="submit" name="submit" class="login login-submit">Sign-in</button>
              </form>
              <div class="login-help">
                <a href="<%= details.returnTo %>">[ Cancel ]</a>
                <a href="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/register">[ Register ]</a>
                <a href="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/forgotpassword">[ Forgot Password ]</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
















    <!-- <div class="login-card">
      <h1>Sign-in</h1>
      <form autocomplete="off" action="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/login" method="post">
        <input required type="email" name="email" placeholder="Enter an email" <% if (!details.params.login_hint) { %>autofocus="on"<% } else { %> value="<%= details.params.login_hint %>" <% } %>>
        <input required type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>

        <label><input type="checkbox" name="remember" value="yes" checked="yes">Stay signed in</label>

        <button type="submit" name="submit" class="login login-submit">Sign-in</button>
      </form>
      <div class="login-help">
        <a href="<%= details.returnTo %>">[ Cancel ]</a>
        <a href="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/register">[ Register ]</a>
      </div>
    </div>
    <div class="login-card">
      <div class="grant-debug">
        <%- JSON.stringify(details.interaction, null, 4) %>
      </div>
      <div class="grant-debug">
        <%- JSON.stringify(details.params, null, 4) %>
      </div>
    </div> -->
  </body>
</html>